[Unit]
Description=Node.js rpi-service
#Requires=After=mysql.service       # Requires the mysql service to run first

[Service]
ExecStart=/usr/bin/nodejs /home/pi/rpi-iot-fscoda.git/rpi-service/rpi-service.js
# Required on some systems
WorkingDirectory=/home/pi/rpi-iot-fscoda.git/rpi-service/
Restart=always
 # Restart service after 10 seconds if node service crashes
 RestartSec=10
 # Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rpi-service
#User=<alternate user>
#Group=<alternate group>
Environment=NODE_ENV=production PORT=1337

[Install]
WantedBy=multi-user.target